<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.web>
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
            <rewrite>
            <rules>
                <clear />
                <rule name="Redirect to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://idfg.idaho.gov{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="must-revalidate" />
            </customHeaders>
        </httpProtocol>
		<staticContent>
			<clientCache cacheControlMode="DisableCache" cacheControlMaxAge="01:00:00" />
		</staticContent>
        <httpRedirect enabled="false" destination="https://idfggis.maps.arcgis.com/apps/webappviewer/index.html?id=c1a9a7c5ee67401594191a7a6e986cd5" exactDestination="false" />
    </system.webServer>
</configuration>